

<%= simple_form_for @pic do |f| %>
		
<h2>
		<%=f.input :lesson, label: 'Lesson ID', placeholder: '1, 2, 3...' %>
		<br/>

		<%= f.input :image %>

		<br />
		<%=f.input :emotion, label: 'How did you feel?', placeholder: 'Stocked, Jazzed, Super...' %>
		<br/>
		<%=f.input :learned, label: 'What did you learn?', placeholder: 'HTML, CSS, RAILS, RUBY...' %>
</h2>

<br/>
		<%= submit_tag "Save", :class=> 'btn btn-success btn-large' %>


<% end %>

